// Project wide colors
$fg: #d4be98;
$bg: #32302f;
$accent: #a9b665;
$accent-bg: #665c54;
$logo-fg: #ea6962;
$accent2-bg: #928374;
$project-highlight: #89b482;
$accent-orange: #e78a4e;
$accent-yellow: #d8a657;